<app-timeline-header [user]="user"></app-timeline-header>
<section>
    <div class="gap gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <app-shortcut></app-shortcut>
                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6">
                            <router-outlet></router-outlet>
                        </div><!-- centerl meta -->
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <app-ads></app-ads>
                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
