<div class="widget">
    <h4 class="widget-title">{{'shortcuts.shortcuts' | translate}}</h4>
    <ul class="naves">
        <li>
            <i class="ti-clipboard"></i>
            <a [routerLink]="['/']" title="">{{'shortcuts.newfeed' | translate}}</a>
        </li>
        <li>
            <i class="ti-files"></i>
            <a [routerLink]="['/timeline/' , user._id, 'timeline']">{{'shortcuts.my-page' | translate}}</a>
        </li>
        <li>
            <i class="ti-user"></i>
            <a [routerLink]="['/timeline/' , user._id, 'profile']" title="">{{'shortcuts.my-profile' | translate}}</a>
        </li>
        <li>
            <i class="ti-comments-smiley"></i>
            <a [routerLink]="['/timeline/' , user._id, 'follow']" title="">{{'shortcuts.friend' | translate}}</a>
        </li>
        <li>
            <i class="ti-power-off"></i>
            <a (click)="logout()" style="cursor: pointer;" title="">{{'shortcuts.logout' | translate}}</a>
        </li>
    </ul>
</div>
