<section>
  <div class="gap gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row merged20" id="page-contents">
            <div class="col-lg-3">
              <aside class="sidebar static">
                <app-shortcut></app-shortcut>
              </aside>
            </div>
            <!-- sidebar -->
            <div class="col-lg-6">
              <div class="central-meta">
                <div class="frnds">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="active show" href="#people" data-toggle="tab">{{
                        "search.people" | translate
                      }}</a>
                      <span>{{ users.length }}</span>
                    </li>
                    <li class="nav-item">
                      <a class="" href="#posts" data-toggle="tab">{{
                        "newfeed.post" | translate
                      }}</a
                      ><span>{{ posts.length }}</span>
                    </li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane fade active show" id="people">
                      <ul class="nearby-contct">
                        <li *ngFor="let user of users">
                          <div class="nearly-pepls">
                            <figure>
                              <a title=""
                                ><img src="{{ user.avatar }}" alt=""
                              /></a>
                            </figure>
                            <div class="pepl-info">
                              <h4>
                                <a
                                  href="timeline/{{ user._id }}/timeline"
                                  title=""
                                  >{{ user.firstName + " " + user.lastName }}</a
                                >
                              </h4>
                              <span>{{ user.email }}</span>
                              <p *ngIf="currentUser._id !== user._id && !user.followed">
                                <a
                                  style="color: white"
                                  (click)="
                                    user.followed = true; followUser(user._id)
                                  "
                                  title=""
                                  class="add-butn"
                                  data-ripple=""
                                  >{{ "search.follow" | translate }}</a
                                >
                              </p>
                              <p *ngIf="currentUser._id !== user._id && user.followed">
                                <a
                                  style="color: white; cursor: pointer; background-color: orangered"
                                  (click)="
                                    user.followed = false;
                                    unFollowUser(user._id)
                                  "
                                  title=""
                                  class="add-butn"
                                  data-ripple=""
                                  >{{ "search.un-follow" | translate }}</a
                                >
                              </p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="posts">
                      <app-post
                        *ngFor="let post of posts"
                        [post]="post"
                      ></app-post>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- centerl meta -->
            <div class="col-lg-3">
              <aside class="sidebar static">
                <app-ads></app-ads>
              </aside>
            </div>
            <!-- sidebar -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
